{% extends "base.html" %}

{% block content %}
<h2>Welcome to EDU Assisstant</h2>
<p>Your one-stop solution for learning programming from the best professors.</p><br>
<p>This is Currently a Project under development</p><br>
<p>The Main developer team include <br>    1."Helfl4re" a.k.a Sagar Vats <br>    2."bosswhopper" a.k.a Pranav <br>    3."Norsewarrior" a.k.a. Mohit Jangra</p><br>
<p>The project is currently open source available at github with MIT License attached </p><br>
<p>This project is built solely for educational purposes only and would be up for sale if desired to be made private.</p>
<br>
{% endblock %}
